.loginsignup{
 width: 100%;
 height: 80vh;
 background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
 padding-top:100px ;


}
.loginsignup-container{
    width: 480px;
    height: 600px;
   background: white;
   margin: auto;
   padding: 40px 60px;
   background: linear-gradient(180deg,#feffe1be 0%,rgba(0, 255, 255, 0.151) 60%);
   border-radius: 20px;
   box-shadow: 3px 3px  rgba(0, 0, 0, 0.151);
   h1{
    margin: 20px 0px;
   }
   button{
    width: 504px;
    height: 62px;
    color:white;
    background: #ff4141;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
   }
   button:active{
    background: #ffffff;
    color: #ff4141;
   };
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap:30px;
    margin-top: 30px;

    input{
        height: 62px;
        width: 100%;
        padding-left: 20px;
        border: 1px solid #c9c9c9;
        outline: none;
        color: #5c5c5c;
        font-size: 18px;
    }
}
.loginsignup-login{
    margin-top:20px;
    color:#5c5c5c;
    font-size:18px;
    font-weight: 500;
    span{
        color:#ff4141;
        font-weight: 600;
    }
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap:20px;
    color:#5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
@media(max-width:1280px){
    .loginsignup{
        padding-top: 50px;

    }
    .loginsignup-container{
        width: auto;
        max-width: 500px;
        max-height: 500px;
        h1{
            margin: 10px 0px;
        }
        button{
            width: 100%;

        }

    }
    .loginsignup-fields{
        gap:20px;
        margin-top: 20px;
        input{
            height: 65px;
            width: 93%;
        }
    }
    .loginsignup-login{
        font-size: 16px;
    }
    .loginsignup-agree{
        font-size: 14px;
        gap: 10px;
    }

}
@media(max-width:800px){
    .loginsignup-container{
        padding: 20px 30px;
    h1{
        font-size: 24px;
    }
button{
    height: 50px;
    font-size: 16px;
    
}

    }
    .loginsignup-fields{
        margin-top: 20px;
        input{
            height: 50px;

        }
    }
    
}